= render 'shared/error', obj: form.object

.mb-3
  = form.label :name, class: "form-label"
  = form.text_field :name, class: "form-control form-controll-sm"
.mb-3
  = form.label :price, class: "form-label"
  = form.text_field :price, class: "form-control form-controll-sm"
.mb-3
  = form.submit class: "btn btn-primary"
