%p{:style => "color: green"}= notice
%h1 Users
= link_to "New user", new_user_path, data: { turbo_frame: :new_user }, class: "btn btn-md btn-outline-primary my-3"
= turbo_frame_tag :new_user
= turbo_frame_tag :users do
  - @users.each do |user|
    = render user
