%h2 Filters:
.row
  .col.border.mb-3
    = search_form_for @q do |f|
      .mb-1
        = f.label :customer_name_or_phone_number_or_email_or_line_items_service_category_name_or_line_items_service_name_or_line_items_user_name_cont, 'Quick search', class: "form-label"
        = f.search_field :customer_name_or_phone_number_or_email_or_line_items_service_category_name_or_line_items_service_name_or_line_items_user_name_cont, class: "form-control form-control-sm"
      .mb-1
        = f.submit class: "btn btn-md btn-primary"

.row
  .col.border
    %h3 Advanced search:
    = search_form_for @q do |f|
      .mb-1
        = f.label :customer_name_cont, 'Имя клиента содержит', class: "form-label"
        = f.search_field :customer_name_cont, class: "form-control form-control-sm"
      .mb-1
        = f.label :phone_number_cont, 'Номер телефона содержит', class: "form-label"
        = f.search_field :phone_number_cont, class: "form-control form-control-sm"
      .mb-1
        = f.label :email_cont, 'email содержит', class: "form-label"
        = f.search_field :email_cont, class: "form-control form-control-sm"
      .mb-1
        = f.label :line_items_service_category_name_cont, 'Категория услуги содержит', class: "form-label"
        = f.search_field :line_items_service_category_name_cont, class: "form-control form-control-sm"
      .mb-1
        = f.label :line_items_service_name_cont, 'Услуга содержит', class: "form-label"
        = f.search_field :line_items_service_name_cont, class: "form-control form-control-sm"
      .mb-1
        = f.label :line_items_user_name_cont, 'Исполнитель содержит', class: "form-label"
        = f.search_field :line_items_user_name_cont, class: "form-control form-control-sm"
      
      .mb-1
        = f.submit class: "btn btn-md btn-primary"
        = link_to 'reset', url_for(request.path), class: "btn btn-md btn-primary"
