.row
  .col
    = form_with(model: category) do |form|
      = render 'shared/error', obj: form.object
      .mb-3
        = form.label :name, class: "form-label"
        = form.text_field :name, class: "form-control form-control-md"
      .mb-3
        = form.submit class: "btn btn-primary"
